{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form class="form-horizontal" method="post">
{% csrf_token %}
    {% for field in formLogin %}
        <div class="form-group">
          <label class="col-sm-4 control-label" for="#{{ field.auto_id }}">{{ field.label }}</label>
          <div class="col-sm-4">
            {{ field }}
          </div>
        </div>
    {% endfor %}
<div class="form-group">
  <label class="col-sm-4 control-label" for="forgot_password"></label>
  <div class="col-sm-8">
    <button id="forgot_password" name="forgot_password" class="btn btn-info"><a href="{% url 'auth_password_reset' %}">{% trans "Reset password!" %}</a></button>
    <button class="btn btn-success" type="submit">{% trans 'Log in!' %}</button>
  </div>
</div>
<input type="hidden" name="next" value="/" />
</form>
{% endblock %}
