{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- Latest compiled and minified JS -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/autobahn.min.jgz" %}"  type="text/javascript"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <title>Social App</title>
    {% include "generic/templates.html" %}
</head>