{% block templates_include %}
<script type="text/x-underscore" id="post_template_data">
    <div class="row post_container" id="post_<%= id %>" data-date-created="<%= date_created_ms %>">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="img-rounded panel panel-info">
                <div class="text-left panel-heading">
                    <p class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"> <%= creator_username %>: </p>
                    <p class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"> <%= text %> </p>
                    <% if (creator_id == user_id) { %>
                        <div class="btn btn-default pull-right margin-left-5px remove_button" data-url="/remove/post/<%= id %>/">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span>Remove</span>
                        </div>
                    <% } %>
                    <div class="btn btn-default pull-right margin-left-5px like_button" data-url="/like/post/<%= id %>/">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>Like</span>
                    </div>
                    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block pull-right margin-left-5px like_count">0</div>
                </div>
                <% if (image != "") { %>
                    <div class="panel-body">
                        <a href="<%= image %>" class="thumbnail">
                            <img src="<%= image %>" alt="<%= image %>" class="img-responsive img-rounded">
                        </a>
                    </div>
                <% } %>

                <div class=" panel-footer ">
                    <div class="btn btn-default pull-right" data-toggle="collapse" data-target="#comment_wrapper_<%= id %>">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>Comment!</span>
                    </div>
                    <div class="row">
                        <div class=" collapse col-xs-12 col-sm-10 col-sm-offset-1" id="comment_wrapper_<%= id %>" style="margin-top: 10px">
                            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                <input type="hidden" name="csrfmiddlewaretoken" value="<%= csrftoken %>">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input id="comment_text_<%= id %>" name="comment_text" class="form-control" placeholder="" type="text" required>
                                        <span class="input-group-btn">
                                            <div class="btn btn-default image-select-upload" data-toggle="collapse" data-target="#image_upload_wrapper_<%= id %>">
                                                <span class="glyphicon glyphicon-picture"></span>
                                                <span class="image-select">Add Image!</span>
                                            </div>
                                            <div class="btn btn-default upload_comment" data-url="/send/comment/">
                                                <span class="glyphicon glyphicon-upload"></span>
                                                <span>Post It!</span>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 ">
                                    <div id="image_upload_wrapper_<%= id %>" class="collapse">
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                                </button>
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title">Browse</span>
                                                    <input id="comment_image_<%= id %>" type="file" accept="image/png, image/jpeg, image/gif" name=""/>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="comment_all_container col-xs-12 " style="margin-top: 10px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-underscore" id="comment_template_data">
    <article class="row comment_wrapper" data-date-created="'+data.date_created_ms+'">
    <% if (creator_id == user_id) { %>
        <div class="col-md-2 col-sm-2 hidden-xs ">
    <% } else { %>
        <div class="col-md-2 col-sm-2 hidden-xs pull-right">
    <% } %>
            <figure class="thumbnail">
                <img class="img-responsive" src="<%= creator_image %>" />
                <figcaption class="text-center"><%= creator_username %></figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="panel panel-default arrow left">
                <div class="panel-body">
                    <header class="text-left">
                    <div class="comment-user pull-left"><i class="fa fa-user"></i> <%= creator_username %></div>
                    <time class="comment-date pull-right" datetime="<%= date_created %>"><i class="fa fa-clock-o"></i><%= date_created %></time>
                    </header>
                    <div class="comment-post">
                    <hr>
                    <p><%= text %></p>
                    <% if (image != ""){ %>
                     <div class="">
                        <a href="<%= image %>" class="thumbnail">
                            <img src="<%= image %>" alt="<%= image %>" class="img-responsive img-rounded">
                        </a>
                     </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </article>
</script>
{% endblock %}