{% extends "base.html" %}
{% load i18n %}

{% block controls %}
<div id="friend_search_container" class="container-fluid">
    {% csrf_token %}
    <div class="row search_container">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <input id="text_search" name="text_search" class="form-control" placeholder="" type="text" data-url="{{ search_url }}">
                <span class="input-group-btn">
                    <input class="btn btn-default clear-friends" type="button" value="Clear!" >
                    </input>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row friend_container">
        {% for user in userList %}
        <div class="col-xs-12 col-sm-6 col-md-3 friend_main_wrapper" id="friend_{{ user.user_id }}">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img src="{{ user.user_avatar }}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h4>
                            {{ user.user_username }}
                        </h4>
                        <div>
                            <i class="glyphicon glyphicon-user"></i>{{ user.user_first_name }} {{ user.user_last_name }}
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i>{{ user.user_email }}
                            <br />
                        </div>
                        <div class="btn-group">
                            {% if user.allredy_friend == 0 %}
                                <button type="button" class="btn btn-primary add_friend" data-url="/friends/add/{{ user.user_id }}/">
                                    Add as friend!
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-primary btn-success add_friend" data-url="/friends/remove/{{ user.user_id }}/">
                                    Unfriend friend!
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}