{% load i18n %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static "../../socialapplication/socialapp/static/css/style.css" %}" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static "../../socialapplication/socialapp/static/css/bootstrap.min.css" %}">
	<!-- Latest compiled and minified JS -->
	<script src="{% static "../../socialapplication/socialapp/static/js/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "../../socialapplication/socialapp/static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "../../socialapplication/socialapp/static/js/autobahn.min.jgz" %}"  type="text/javascript"></script>
    <script src="{% static "../../socialapplication/socialapp/static/js/main.js" %}"></script>
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
	<a href="{% url 'index' %}">{% trans "Home" %}</a> |
	{% if user.is_authenticated %}
	{% trans "Logged in" %}: {{ user.username }} 
        (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> |
        <a href="{% url 'django.contrib.auth.views.password_change' %}">{% trans "Change password" %}</a>)
        <div id="user_data" data-userId="{{ user.user_id }}"></div>
	{% else %}
	    <a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Log in" %}</a>|
        <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
	{% endif %}
	<hr />
        {% endblock %}
    </div>

    <div id="content" class="content">
        {% block controls %}

        {% endblock %}
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
        {% endblock %}
    </div>
</body>

</html>
