{% extends "base.html" %}
{% load i18n %}

{% block controls %}
    {% if user.is_authenticated %}
        <div id="main_post_container" class="container-fluid">
        <form method="post" action="/send/post/" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <input id="post_text" name="post_text" class="form-control" placeholder="" type="text">
                <span class="input-group-btn">
                    <div class="btn btn-default image-select-upload" data-toggle="collapse" data-target="#image_upload_wrapper">
                        <span class="glyphicon glyphicon-picture"></span>
                        <span class="image-select">Add Image!</span>
                    </div>
                    <input class="btn btn-default image-preview-upload" type="submit" value="Post It!" required>
                    </input>
                </span>
            </div>
        </div>
        </div>
        <div class="row">
        <div id="image_upload_wrapper" class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 collapse">
            <!-- image-preview-filename input [CUT FROM HERE]-->
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                        <!-- rename it -->
                    </div>
                </span>
            </div>
        </div>
        </div>
        </form>

            {% for values in posts %}
                <div class="row" id="post_{{ values.postId }}">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="img-rounded panel panel-info">
                            <div class="text-left panel-heading">
                                <p class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{ values.post_text }}</p>
                                <div class="btn btn-default pull-right margin-left-5px remove_post" data-target="#post_{{ values.postId }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span>Remove</span>
                                </div>
                                <div class="btn btn-default pull-right margin-left-5px like_post" data-target="#post_{{ values.postId }}">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>Like</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                {% if values.post_image != "" %}
                                    <a href="{{ values.post_image }}" class="thumbnail">
                                        <img src="{{ values.post_image }}" alt="{{ values.post_image }}" class="img-responsive img-rounded">
                                    </a>
                                {% endif %}
                             </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        please login before posting!
    {% endif %}
{% endblock %}
