{% extends "base.html" %}
{% load i18n %}

{% block controls %}
    {% if user.is_authenticated %}
        <div id="main_post_container" class="container-fluid">
            <form method="post" action="/send/post/" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="input-group">
                    <input id="post_text" name="post_text" class="form-control" placeholder="" type="text" required>
                    <span class="input-group-btn">
                        <div class="btn btn-default image-select-upload" data-toggle="collapse" data-target="#image_upload_wrapper">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span class="image-select">Add Image!</span>
                        </div>
                        <div class="btn btn-default upload_post">
                            <span class="glyphicon glyphicon-upload"></span>
                            <span >Post It!</span>
                        </div>
                    </span>
                </div>
            </div>
            </div>
            <div class="row">
            <div id="image_upload_wrapper" class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 collapse">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" disabled="disabled">
                    <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input type="file" id="post_upload_input" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                            <!-- rename it -->
                        </div>
                    </span>
                </div>
            </div>
            </div>
            </form>

            {% for post in posts %}
                <div class="row post_container" id="post_{{ post.id }}" data-date-created="{{ post.date_created_ms}}">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="img-rounded panel panel-info">
                            <div class="text-left panel-heading">
                                <p class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{ post.creator_username }}: </p>
                                <p class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{ post.text }}</p>
                            {% if post.creator_id == user.user_id %}
                                <div class="btn btn-default pull-right margin-left-5px remove_button" data-url="/remove/post/{{ post.id }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span>Remove</span>
                                </div>
                            {% endif %}
                            {% if post.liked_alredy %}
                                <div class="btn btn-default pull-right margin-left-5px like_button btn-success " data-url="/unlike/post/{{ post.id }}">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>Like</span>
                                </div>
                            {% else %}
                                <div class="btn btn-default pull-right margin-left-5px like_button" data-url="/like/post/{{ post.id }}">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>Like</span>
                                </div>
                            {% endif %}
                                <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block pull-right margin-left-5px like_count">{{ post.likes_count }}</div>
                            </div>
                            {% if post.image != "" %}
                                <div class="panel-body">
                                    <a href="{{ post.image }}" class="thumbnail">
                                        <img src="{{ post.image }}" alt="{{ post.image }}" class="img-responsive img-rounded">
                                    </a>
                                 </div>
                            {% endif %}
                            <div class=" panel-footer ">
                                <div class="btn btn-default pull-right" data-toggle="collapse" data-target="#comment_wrapper_{{ post.id }}">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span>Comment!</span>
                                </div>
                                <div class="row">
                                    <div class=" collapse col-xs-12 col-sm-10 col-sm-offset-1" id="comment_wrapper_{{ post.id }}" style="margin-top: 10px">
                                        <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                    <input id="comment_text_{{ post.id }}" name="comment_text" class="form-control" placeholder="" type="text" required>
                                                    <span class="input-group-btn">
                                                        <div class="btn btn-default image-select-upload" data-toggle="collapse" data-target="#image_upload_wrapper_{{ post.id }}">
                                                            <span class="glyphicon glyphicon-picture"></span>
                                                            <span class="image-select">Add Image!</span>
                                                        </div>
                                                        <div class="btn btn-default upload_comment" data-url="/send/comment/">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                            <span>Post It!</span>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 ">
                                                <div id="image_upload_wrapper_{{ post.id }}" class="collapse">
                                                    <div class="input-group image-preview">
                                                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                                            </button>
                                                            <div class="btn btn-default image-preview-input">
                                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                                <span class="image-preview-input-title">Browse</span>
                                                                <input id="comment_image_{{ post.id }}" type="file" accept="image/png, image/jpeg, image/gif" name=""/>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="comment_all_container col-xs-12 " style="margin-top: 10px">
                                            {% for comment in post.comments %}
                                                 <article class="row comment_wrapper" data-date-created="{{ comment.date_created_ms }}">
                                                {% if comment.creator_id == user.user_id %}
                                                    <div class="col-md-2 col-sm-2 hidden-xs ">
                                                {% else %}
                                                    <div class="col-md-2 col-sm-2 hidden-xs pull-right">
                                                {% endif %}
                                                      <figure class="thumbnail">
                                                        <img class="img-responsive" src="{{ comment.creator_image }}" />
                                                        <figcaption class="text-center">{{ comment.creator_username }}</figcaption>
                                                      </figure>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-10">
                                                      <div class="panel panel-default arrow left">
                                                        <div class="panel-body">
                                                          <header class="text-left">
                                                            <div class="comment-user pull-left"><i class="fa fa-user"></i> {{ comment.creator_username }}</div>
                                                            <time class="comment-date pull-right" datetime="{{ comment.date_created }}"><i class="fa fa-clock-o"></i>{{ comment.date_created }}</time>
                                                          </header>
                                                          <div class="comment-post">
                                                          <hr>
                                                            <p>
                                                             {{ comment.text }}
                                                            </p>
                                                            {% if comment.image != "" %}
                                                                <div class="">
                                                                    <a href="{{ comment.image }}" class="thumbnail">
                                                                        <img src="{{ comment.image }}" alt="{{ comment.image }}" class="img-responsive img-rounded">
                                                                    </a>
                                                                 </div>
                                                            {% endif %}
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </article>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-info h4 text-center">please login before posting!</div>
        </div>
    {% endif %}
{% endblock %}
